<div class="mt-10 flex flex-col">
  <div class="banner-container flex">
    <div>
      <div>
        <div class="flex">
          <span id="find" class="primary header mr-5">Find.</span>
          <span id="book" class="primary header mr-5">Book.</span>
          <span id="dance" class="primary header">Dance!</span>
        </div>
        <p class="intro text">Find dance classes fitting into your schedule<br>without travelling pages to pages!</p>
        <div>
          <p class="text mt-12">Enter a city name to see dance studios & classes</p>
          <%= form_with url: dance_classes_path, method: :get, class: "flex" do %>
            <div class="flex mt-5">
              <div class="search-bar">
                <%= text_field_tag :city,
                  params[:city],
                  type: "text",
                  class: "px-3 py-3 landing search-bar",
                  placeholder: "e.g. London"
                %>
              </div>
              <div class="search btn px-3 py-2 flex justify-center items-center">
                <%= submit_tag "Search" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <%= image_tag "dancing_figure.png" %>
    </div>
  </div>
  <div class="flex justify-between px-16 mt-16">
    <div class="flex flex-col items-center w-1/3">
      <%= image_tag "ballet_shoes.png", class: "w-36" %>
      <p class="text text-center mt-5 w-2/3">Enter a city name and look what dance classes in the city</p>
    </div>
    <div class="flex flex-col items-center w-1/3">
      <%= image_tag "hiphop_shoes.png", class: "w-36" %>
      <p class="text text-center mt-5 w-2/3">Filter the classes by weekday, time, genre, or your favourite dancers</p>
    </div>
    <div class="flex flex-col items-center w-1/3">
      <%= image_tag "tango_shoes.png", class: "w-36" %>
      <p class="text text-center mt-5 w-2/3">Redirect to a dance studio website to book a class and you're good to go and dance!</p>
    </div>
  </div>
</div>
