<!DOCTYPE html>
<html>
  <head>
    <title>ChaCha</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <style>
     @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Subrayada:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/543042074c.js" crossorigin="anonymous"></script>
  </head>

  <body class=<%= current_page?(root_path) ? "home-bg" : "" %>>
    <div class=<%= current_page?(root_path) ? "" : "border-b" %>>
      <nav class="flex items-center">
        <div class="w-1/5 flex justify-start">
          <%= link_to root_path do %>
            <p id="logo" class="my-4">ChaCha</p>
          <% end %>
        </div>
        <div class=<%= current_page?(root_path) ? "hidden" : "w-4/5" %>>
          <div class="flex justify-between items-center">
            <div class="flex items-center">
              <%= form_with url: dance_classes_path, method: :get, class: "flex" do %>
                <div class="flex">
                  <div class="search-bar">
                    <%= text_field_tag :query,
                      params[:query],
                      type: "text",
                      class: "px-3 py-2 main search-bar border",
                      placeholder: "Genres, Instructors, Etc."
                    %>
                  </div>
                  <div class="search btn px-3 py-2 flex justify-center items-center">
                    <%= submit_tag "Search" %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="w-1/4 flex justify-end">
              <button class="btn border py-2 px-5 rounded mr-3">Log In</button>
              <button class="btn border py-2 px-5 rounded">Feedback</button>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
