<!DOCTYPE html>
<html>
  <head>
    <title>ChaCha</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <style>
     @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Subrayada:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/543042074c.js" crossorigin="anonymous"></script>
  </head>

  <body class=<%= current_page?(root_path) ? "home-bg" : "" %>>
    <div class=<%= current_page?(root_path) ? "" : "border-b" %>>
      <nav class="flex justify-start items-center">
        <%= link_to root_path do %>
          <p id="logo" class="my-4">ChaCha</p>
        <% end %>
      </nav>
    </div>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
